td.w2ui-head {
    text-align: center !important;
}

.w2field.dt {
    width: 70px;
}
.w2field.ac {
    width: 100px;
    height: 20px;
}

.fontawesome {
    font-family: FontAwesome;
}

.today-label {
    font-size: 60%;
    text-shadow: 1px 1px 4px #b0b0b0;
}
.account-label {
    font-size: 60%;    
}
.fontawesome.bt {
    background-color: #e8e8f0;
    border: outset thin;
    border-radius: 0.5em;
    margin: 3px;
}
#top_form_accounts_id {
    display: none;
}
.w2ui-field.lbl {
    width: 40px;
    text-align:left;
}
.w2ui-field.ipt {
    margin-left:40px;
}
.w2ui-field.dt {
    width: 70px;
}
.w2ui-field.txt {
    width: 130px;
    text-align: left;
}
.w2ui-field.num {
    width: 130px;
    text-align: right;
}
.tab_panel {
    width: 100%;
    height: 100%;
}
.tab_panel.show {
    display: block;
}
.tab_panel.hide {
    display: none;
}
#spa {
    width: 100%;
    height: 100%;
}
html, body {
    height:100%;
    margin-top:0;
    margin-bottom:0;
}
